[submodule "TokenScripts/tokenization"]
	path = TokenScripts/tokenization
	url = https://github.com/JamesDeVore/tokenization
[submodule "AutoVisionBlocker"]
	path = AutoVisionBlocker
	url = https://github.com/JamesDeVore/AutoVisionBlocker
	branch = master
